
body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#canvas1
{
    display: block;
    border: 1px solid #000000;
}